/* -------------global------------- */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.section {
  padding: 120px 0;
}

/* -------------Address------------- */
.address-list {
  display: flex;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}

.list-list-item:not(:last-child) {
  margin-right: 40px;
}
/* -------------Logo1------------- */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;

  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.navigation-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;


 position: relative;
 
}

.navigation-link.current {
  color: #404bbf;
}

.navigation-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}


.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

/* -------------Effective Solutions for Your Business------------- */
/* -------------Main------------- */

.main-header {
  background-color: #2e2f42;
  color: #ffffff;

  max-width: 1440px;
  margin: 0 auto;


  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/peopleoffice.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header-logo {
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 56px;
}
.button-main-header {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.button-main-header:hover,
.button-main-header:focus {
  background-color: #404bbf;
  color: #ffffff;
  outline: none;
}
/* -------------Our Features------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: 264px;
  margin-bottom: 8px;
}

.feature-desc {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list-items {
  width: 264px;
}

.features-list-items:last-child {
  margin-right: 0;
}
.team-card-body {
  padding: 32px 16px;
}

.features-icon-items {  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
}
/* -------------Our Team------------- */
.our-team {
  background: #f4f4fd;
}

.header-our-team {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-img {
  background-color: #ffffff;
  margin-right: 24px;
}
.our-team-member {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.2;

  margin-bottom: 8px;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
}

.our-team-card:not(:last-child) {
  margin-right: 24px;
}

.our-team-card {
  width: calc((100% - 24px * 3) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
}

.icon {
  fill: #f4f4fd;
  cursor: pointer;

 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover {
  --color1: #4d5ae5;
  --color2: #f4f4fd;
  cursor: pointer;
}
.icon:hover,
.icon:focus {
  --color1: #31d0aa;
  --color2: #f4f4fd;
}

.social-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
}

/* -------------Portfolio------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.section-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 72px;
  display: block;
  justify-content: center;
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item {
   width: calc((100% - 48px) / 3);

   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -------------FOOTER------------- */

.main-footer-logo {
  background-color: #2e2f42;
  text-decoration: none;

  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.span-studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}
.span-web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.footer-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  text-transform: uppercase;
  display: inline-block;
}

.footer-links-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  justify-content: center;
}

.footer-list {
  display: flex;
  gap: 16px;
  align-items: baseline
}

.icon:hover {
  --color1: #4d5ae5;
  --color2: #f4f4fd;
  cursor: pointer;
}
.icon:hover,
.icon:focus {
  --color1: #31d0aa;
  --color2: #f4f4fd;
}

.social-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
}

.footer-cont {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-social-media {
  margin-left: 120px;
}

.footer-subscribe {
  margin-left: auto;
}

.container-footer {
}

.team-social-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.footer-social-link {
  display: flex;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
  background-color: #31d0aa;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-social-link svg {
  display: block;
}

.team-social-link:hover {
  background-color: #31d0aa;
}

.team-social-link svg {
  fill: #f4f4fd;
}


.footer-subscribe-form {
  display: flex;
  gap: 24px;
  
}
.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe-input {
  outline: none;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-subscribe-input:focus {
  border-color: #31D0AA;
}

.btn-subscribe {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  color: #ffffff;
  background-color: #31d0aa;
}

.btn-subscribe-icon {
  margin-left: 16px;
}


.backdrop {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  z-index: 1000;
  position: fixed;

  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;
  transform: translateY(0);
  padding: 72px 24px 24px 24px;

  min-height: 584px;
  width: 408px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  margin-bottom: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-paragraph {
  margin-bottom: 16px;
  width: 360px;
  height: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-field {
  display: block;
  margin-bottom: 8px;
}

/* .input-icon-wrapper input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
} */

/* .input-icon-wrapper input:focus + svg {
  fill: #4d5ae5;
} */

.modal-label-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input {
  outline: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.input-icon-wrapper {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container-textarea {
  margin-bottom: 16px;
}

.modal-text-area {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text-area:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.form-field-checkbox {
  display: block;
  margin-bottom: 24px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

/* input:checked + label > span {
  border-radius: 2px;
  fill: #404bbf;
  border: 1px solid #404bbf;
} */

.fake-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-label-checkbox > .fake-checkbox {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.privacy-policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-form-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;

  cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}