/* --- tablet --- */

.container {
  max-width: 768px;
}

/* HEADER */

.logo-link {
  padding: 24px 0;
  margin-right: 76px;

}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}


.features-icon-items {
  display: none;
}

.navigation-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.address-list-item:not(:last-child) {
  margin-bottom: 12px;
}

/*
.menu-btn {
  display: none;
}
  */

.address {
  display: block;
  font-style: normal;
}

.menu-address-list-item:not(:last-child) {
  margin-bottom: 12px;
}

.address-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #434455;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .address-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}



/* HERO */

.hero-section {
  margin: 0 auto;
  max-width: 768px;
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/tablet/background-image/Dark-bg-min.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/background-image/Dark-bg@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
  }

  .main-header-logo {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}


@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-list-items {
    width: calc((100% - 24px) / 2);
  }
}

.portfolio-card {
    width: calc((100% - 24px) / 2);
  }

.main-header-logo {
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .main-header-logo {
    max-width: 496px;
    margin-bottom: 36px;
  }
}


/* FEATURES */

.features-list {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 72px 24px;
}

.features-list-items {
  flex-basis: calc((100% - 24px) / 2);
}

@media screen and (min-width: 768px) {
  .feature-title {
    text-align: left;
  }
}

/* OUR TEAM */

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .our-team-card {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 264px;
  }
}

.our-team-card {
  flex-basis: calc((100% - 24px) / 2);
  max-width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

/* PORTFOLIO */

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

.portfolio-card {
  flex-basis: calc((100% - 24px) / 2);
  max-width: 356px;
}

/* FOOTER */

@media screen and (min-width: 768px) {
  .main-footer-logo {
    padding: 80px 0;
  }
}

.footer-cont {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  align-items: baseline;
  max-width: 584px;
}

.logo-footer {
  text-align: left;
}

.footer-p {
  max-width: 264px;
}

.footer-links-title {
  text-align: left;
}

.footer-links-title {
  text-align: left;
}

@media (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
}


.footer-subscribe-input {
  width: 264px;
  height: 40px;
  margin-bottom: 0;
}

.modal {
  width: 408px;
  padding: 72px 24px 24px 24px;
}

/* Menu */

.mobile-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }

  .address {
    display: block;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.portfolio-card {
  box-shadow: none;
}

@media (max-width: 1157px) {
  .portfolio-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-card {
    box-shadow: none;
    transition: box-shadow 250ms ease;
    width: calc((100% - 24px) / 2)
  }

  .portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .menu-toggle {
    display: none;
  }
}